<footer class="footer">
    <div class="container">
        Footer
    </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
   
  ],
  "default": {
    "name": "Footer",
  }
}
{% endschema %}
