{{ 'section-guide.css' | asset_url | stylesheet_tag }}

<section class="our-guide">
    <div class="container">
        <h2 class="our-guide__title">
            Why Choose Our Party Planning Guide?
        </h2>
        <ul class="our-guide__list">
            <li class="our-guide__item">
                <div class="our-guide__item-img">
                    <img src="img/guide-1.svg" alt="guide 1">
                </div>
                <h3 class="our-guide__item-title">Easy to Follow Steps</h3>
                <div class="our-guide__item-text text">
                    <p>
                        Our guide breaks down the planning process into simple, actionable steps that anyone can follow
                    </p>
                </div>
            </li>
            <li class="our-guide__item">
                <div class="our-guide__item-img">
                    <img src="img/guide-2.svg" alt="guide 2">
                </div>
                <h3 class="our-guide__item-title">Stress-Free Planning</h3>
                <div class="our-guide__item-text text">
                    <p>
                        Avoid last-minute stress with our guide and enjoy the celebration alongside your child.
                    </p>
                </div>
            </li>
            <li class="our-guide__item">
                <div class="our-guide__item-img">
                    <img src="img/guide-3.svg" alt="guide 3">
                </div>
                <h3 class="our-guide__item-title">Creative Party Themes</h3>
                <div class="our-guide__item-text text">
                    <p>
                        Get inspired with a variety of unique themes tailored to different age groups and styles.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>