{% comment %} {{ 'section-heri.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% for block in section.blocks %}  
  {% case block.type %}

    {% when 'heading' %}  
      <div class="link" {{ block.shopify_attributes }}>   
        {{ block.settings.heading }}
      </div> 

  {% endcase %} 
{% endfor %}

weffeter
{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
  ],
}
{% endschema %}
