{{ 'section-inside.css' | asset_url | stylesheet_tag }}

<section class="inside">
    <div class="container container__inside">
        <h2 class="inside__title">
            What’s Inside the Guide?
        </h2>
        <div class="inside__text">
            <p>Discover how our guide covers every step of the party planning process with helpful tips, templates, and insights.</p>
        </div>
        <div class="inside__list">
            <ul class="inside__item">
                <li>
                    <a href="#">
                        How to Plan an Unforgettable Kids' Birthday Party
                    </a>
                </li>
                <li>
                    <p>Choosing the Perfect Theme</p>
                </li>
                <li>
                    <p>Crafting the Guest List and Sending Invitations</p>
                </li>
                <li>
                    <p>Planning the Perfect Venue</p>
                </li>
                <li>
                    <p>Crafting the Ultimate Party Timeline</p>
                </li>
                <li>
                    <p>Party Decorations That Wow</p>
                </li>
            </ul>
            <ul class="inside__item">
                <li>
                    <p>Entertainment Ideas for All Ages</p>
                </li>
                <li>
                    <p>Activities and Considerations for Siblings</p>
                </li>
                <li>
                    <p>How to Capture Party Moments: Photography Tips for Parents</p>
                </li>
                <li>
                    <p>Contingency Plans for Unexpected Weather</p>
                </li>
                <li>
                    <p>Safety and Insurance Considerations</p>
                </li>
                <li>
                    <p>Social Media Tips and Hashtags to Make Your Party Memorable</p>
                </li>
            </ul>
            <ul class="inside__item">
                <li>
                    <p>Featuring Rentals from Party Baby Seattle</p>
                </li>
                <li>
                    <p>Post-Party Tips: Clean-Up and Thank You Notes</p>
                </li>
                <li>
                    <p>Top Healthy Snack Recipes for Toddler Birthday Parties</p>
                </li>
                <li>
                    <p>Additional Resources and Vendor Recommendations</p>
                </li>
                <li>
                    <p>Conclusion: Making Memories That Last</p>
                </li>
            </ul>
        </div>
        <a href="#" class="inside__btn btn-primary">Buy now</a>
    </div>
</section>


{% schema %}
    {
    "name": "Inside",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    ],
    "presets": [
    {
    "name": "Inside",
    "settings": {
      
    }
    }
    ],
    "blocks": [
        {
            {
            "type": "item",
            "name": "List item",
            "settings": [
                {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
                },
                {
                "id": "title",
                "type": "text",
                "label": "Title"
                },
                {
                "id": "text",
                "type": "richtext",
                "label": "Text"
                }
            ]
            },
        }
    ]
    }
    {% endschema %}