{{ 'section-steps.css' | asset_url | stylesheet_tag }}

<div class="steps">
    <div class="container steps__container">
        <ul class="steps__list">
            <li class="steps__item">
                <h2 class="steps__title">{{ section.settings.title }}</h2>
            </li>

            <li class="steps__item">
                <a href="{{ section.settings.button_link }}" class="steps__item-btn btn-primary">{{ section.settings.button_text }}</a>
            </li>
        </ul>
    </div>
</div>

{% schema %}
    {
    "name": "Steps",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
    },
    {
    "type": "text",
    "id": "button_link",
    "label": "Button Link"
    },
    ],
    "blocks": [
        {
            "type": "item",
            "name": "List item",
            "settings": [
                {
                    "id": "text",
                    "type": "text",
                    "label": "Item Text"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Item image"
                },
                {
                    "id": "insta",
                    "type": "url",
                    "label": "Instagram post url"
                }
            ]
        },
    ],
    "presets": [
        {
            "name": "Steps",
        }
    ]
    }
    {% endschema %}