{{ 'section-steps.css' | asset_url | stylesheet_tag }}


<section class="steps">
    <div class="container steps__container">
        <ul class="steps__list">
            <li class="steps__item">
                <h2 class="steps__title"></h2>
            </li>

            <li class="steps__item">
                <a href="" class="steps__item-btn btn-primary"></a>
            </li>
        </ul>
    </div>
</section>

