{{ 'section-themes.css' | asset_url | stylesheet_tag }}

<section class="themes">
    <div class="themes__container container">
        <h2 class="themes__title">
            Our Most Popular Themes for 2024
        </h2>

        <div class="themes__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-popup="0">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="0">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="1">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="2">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="3">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="4">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="5">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="6">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="7">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>
                <div class="swiper-slide" data-popup="8">
                    <img src="/img/theme.jpg" alt="">
                    <h3>First Trip Around the sun</h3>
                </div>

            </div>
        </div>
        <div class="themes__scrollbar"></div>
        <div class="themes__nav">
            <button class="themes__nav-btn prev">
                <svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.15284 13.9999C5.91365 14.2313 5.55354 14.2001 5.34852 13.93L0.785151 7.9191C0.602051 7.67792 0.602051 7.32203 0.785151 7.08085L5.34852 1.06996C5.55355 0.799903 5.91365 0.768628 6.15285 1.0001C6.39204 1.23158 6.41974 1.63815 6.21472 1.90821L1.96954 7.49998L6.21472 13.0917C6.41974 13.3618 6.39204 13.7684 6.15284 13.9999Z" fill="#514B46"/>
                </svg>
            </svg>
                    
            </button>
            <button class="themes__nav-btn next">
                <svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.847156 1.00015C1.08635 0.768672 1.44646 0.799947 1.65148 1.07L6.21485 7.0809C6.39795 7.32208 6.39795 7.67797 6.21485 7.91915L1.65148 13.93C1.44646 14.2001 1.08635 14.2314 0.847156 13.9999C0.607963 13.7684 0.580263 13.3618 0.785285 13.0918L5.03046 7.50002L0.785285 1.90825C0.580263 1.6382 0.607963 1.23163 0.847156 1.00015Z" fill="#514B46"/>
                </svg>
            </button>
        </div>
    </div>
</section>


{% schema %}
    {
    "name": "Themes",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    ],
    "presets": [
    {
    "name": "Themes",
    "settings": {
      
    }
    }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "id": "text",
                    "type": "text",
                    "label": "Item Text"
                },
                {
                    "id": "link",
                    "type": "url",
                    "label": "Item Link"
                }
            ]
        },
    ],
    "presets": [
        {
            "name": "Inside",
            "category": "Custom"
        }
    ]
    }
    {% endschema %}