{{ 'section-trips.css' | asset_url | stylesheet_tag }}

<section class="trips">
    <div class="container trips__container">
        <h2 class="trips__title">{{ section.settings.title }}</h2>

        <ul class="trips__list">
            {% for block in section.blocks %}  
                {% case block.type %}
              
                  {% when 'slide' %}  
                    <li class="trips__item" {{ block.shopify_attributes }}>
                        {{ block.settings.image | image_url: width: 1500 | image_tag: }}
                        <div class="trips__item-img"></div>
                        <h3 class="trips__item-title">1st tip</h3>
                    </li>
                {% endcase %} 
            {% endfor %}
        
            <li class="trips__item">
                <div class="trips__item-img"></div>
                <h3 class="trips__item-title">2st tip</h3>
            </li>
            <li class="trips__item">
                <div class="trips__item-img"></div>
                <h3 class="trips__item-title">3st tip</h3>
            </li>
        </ul>
    </div>
</section>


{% schema %}
    {
    "name": "Trips",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    ],
    "presets": [
    {
    "name": "Trips",
    "settings": {
      
    }
    }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "id": "text",
                    "type": "text",
                    "label": "Item Text"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Item image"
                },
            ]
        },
    ],
    }
    {% endschema %}