<section class="trips">
    <div class="container trips__container">
        <h2 class="trips__title">Actual tips from the guide</h2>

        <ul class="trips__list">
            <li class="trips__item">
                <div class="trips__item-img"></div>
                <h3 class="trips__item-title">1st tip</h3>
            </li>
            <li class="trips__item">
                <div class="trips__item-img"></div>
                <h3 class="trips__item-title">2st tip</h3>
            </li>
            <li class="trips__item">
                <div class="trips__item-img"></div>
                <h3 class="trips__item-title">3st tip</h3>
            </li>
        </ul>
    </div>
</section>