@font-face {
  font-family: "HonestySans";
  font-weight: 400;
  src: url("HonestySans-Regular.otf");
  font-display: swap
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0
}

ul {
  list-style: none;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}

.container {
  max-width: 1281px;
  padding: 0 15px;
  margin: 0 auto
}

a {
  text-decoration: none;
  color: inherit
}

body {
  font-family: "HonestySans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666
}

@media(min-width: 1099px) {
  body {
    font-size: 16px
  }
}

.text p:not(:last-child) {
  margin-bottom: 1em
}

.btn-primary {
  padding: 12px 20px;
  min-width: 206px;
  text-align: center;
  display: inline-block;
  border: 2px solid #216f6d;
  color: #216f6d;
  font-weight: 400;
  text-transform: uppercase;
  transition: background .3s ease-in-out, color .3s ease-in-out
}

@media(max-width: 768px) {
  .btn-primary {
    min-width: unset;
    padding: 8px 20px;
    font-size: 12px
  }
}

.btn-primary:hover {
  background: #216f6d;
  color: #fff
}

.btn-light {
  padding: 18.5px 20px;
  min-width: 308px;
  text-align: center;
  display: inline-block;
  background: #fff;
  color: #216f6d;
  font-weight: 400;
  text-transform: uppercase;
  transition: background .3s ease-in-out, color .3s ease-in-out
}

@media(max-width: 768px) {
  .btn-light {
    min-width: unset;
    padding: 12px 20px;
    font-size: 14px
  }
}

.btn-light:hover {
  background: #216f6d;
  color: #fff
}

/* guide */
.our-guide {
  padding: 129px 0;
  background: #f3efe5
}

@media(max-width: 1099px) {
  .our-guide {
    padding: 75px 0
  }
}

.our-guide__title {
  text-align: center;
  max-width: 466px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 0 34px 20px;
  font-size: 32px;
  color: #514b46
}

.our-guide__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #acacac;
  left: 0;
  bottom: 0
}

@media(max-width: 576px) {
  .our-guide__title {
    font-size: 26px
  }
}

.our-guide__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  margin-top: 35px
}

@media(max-width: 900px) {
  .our-guide__list {
    grid-template-columns: 1fr
  }
}

.our-guide__item {
  text-align: center
}

.our-guide__item-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px dashed #514b46
}

.our-guide__item-img img {
  max-height: 42px
}

.our-guide__item-title {
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #514b46
}

@media(max-width: 576px) {
  .our-guide__item-title {
    font-size: 16px
  }
}

.our-guide__item-text {
  color: #514b46;
  margin-top: 15px
}

.inside {
  padding: 120px 0;
  text-align: center
}

@media(max-width: 1099px) {
  .inside {
    padding: 75px 0
  }
}

.inside__title {
  text-align: center;
  max-width: 466px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 0 34px 20px;
  font-size: 32px;
  color: #514b46
}

.inside__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #acacac;
  left: 0;
  bottom: 0
}

@media(max-width: 576px) {
  .inside__title {
    font-size: 26px
  }
}

.inside__text {
  text-align: center;
  margin: 35px auto 0;
  max-width: 613px;
  font-size: 20px
}

@media(max-width: 1099px) {
  .inside__text {
    font-size: 16px
  }
}

.inside__list {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 35px;
  gap: 27px
}

@media(max-width: 1099px) {
  .inside__list {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media(max-width: 768px) {
  .inside__list {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px
  }
}

.inside__item {
  display: flex;
  flex-direction: column;
  gap: 40px
}

@media(max-width: 1099px) {
  .inside__item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px
  }

  .inside__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3
  }
}

@media(max-width: 768px) {
  .inside__item {
    gap: 15px
  }

  .inside__item:last-child {
    grid-column-start: 1;
    grid-column-end: 2
  }
}

.inside__item a,
.inside__item p {
  font-weight: 400;
  text-transform: uppercase
}

.inside__item a {
  text-decoration: underline;
  color: #216f6d
}

.inside__item li {
  padding-left: 31px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative
}

.inside__item li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 18px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #216f6d
}

.inside__btn {
  margin-top: 40px;
  min-width: 308px
}

.themes {
  position: relative;
  overflow: hidden
}

.themes__swiper {
  overflow: visible;
  margin-top: 35px
}

.themes__title {
  text-align: center;
  max-width: 581px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 0 34px 20px;
  font-size: 32px;
  color: #514b46
}

.themes__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #acacac;
  left: 0;
  bottom: 0
}

@media(max-width: 576px) {
  .themes__title {
    font-size: 26px
  }
}

.themes .swiper-slide {
  text-align: center;
  cursor: pointer;
  padding: 12px 18px;
  background: #f3efe5
}

.themes .swiper-slide h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #393636
}

.themes .swiper-slide img {
  display: inline-block;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  -o-object-fit: cover;
  object-fit: cover
}

.themes__scrollbar {
  height: 4px;
  margin-top: 50px;
  border-radius: 15px;
  background: rgba(81, 75, 70, .3)
}

@media(max-width: 576px) {
  .themes__scrollbar {
    margin-top: 30px
  }
}

.themes__scrollbar .swiper-scrollbar-drag {
  height: 6px;
  position: relative;
  top: -1px;
  border-radius: 37px;
  background: #216f6d
}

.themes__nav {
  display: flex;
  justify-content: center;
  gap: 37px;
  margin-top: 40px
}

@media(max-width: 576px) {
  .themes__nav {
    margin-top: 20px
  }
}

.themes__nav-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #216f6d;
  transition: background .3s ease-in-out
}

.themes__nav-btn svg path {
  transition: fill .3s ease-in-out;
  fill: #fff
}

.themes__nav-btn[disabled] {
  background: rgba(0, 0, 0, 0)
}

.themes__nav-btn[disabled] svg path {
  fill: #514b46
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 101;
  background: rgba(81, 75, 70, .35);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center
}

.popup.active {
  opacity: 1;
  visibility: visible
}

.popup__body {
  background: #fff;
  padding: 55px 20px 20px;
  position: relative
}

.popup__body iframe {
  width: 100%
}

.popup__close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer
}

.trips {
  padding: 120px 0
}

@media(max-width: 1099px) {
  .trips {
    padding: 75px 0
  }
}

.trips__title {
  max-width: 467px;
  word-wrap: 100%;
  display: block;
  position: relative;
  padding: 0 0 20px;
  font-size: 32px;
  color: #514b46
}

.trips__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #acacac;
  left: 0;
  bottom: 0
}

@media(max-width: 576px) {
  .trips__title {
    font-size: 26px
  }
}

.trips__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  margin-top: 35px
}

@media(max-width: 768px) {
  .trips__list {
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: 1fr
  }
}

.trips__item-img {
  display: block;
  height: 280px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: rgba(0, 0, 0, .2);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px)
}

.trips__item-title {
  margin-top: 20px;
  font-size: 20px
}

/*# sourceMappingURL=global.css.map */