.footer__container {
    position: relative;
}

.footer__img {
    position: absolute;
    display: block;
    width: 404px;
    height: auto;
    bottom: 30px;
    right: 0;
}

@media (max-width: 1099px) {
    .footer__img {
        display: none;
    }
}

.footer__cols {
    padding-top: 50px;
    border-top: 1px solid #514B46;
    display: flex;
    gap: 105px;
    justify-content: space-between;
}
@media (max-width: 1099px) {
    .footer__cols {
        padding-top: 30px;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

.footer__col h3{
  font-weight: 700;
  color: #514B46;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 15px;
}

.footer__col--2 h3, .footer__col--3 h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ACACAC;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__socials {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

@media (max-width: 1099px) {
    .footer__socials {
        gap: 15px;
        margin-top: 20px;
    }
}

.footer__socials a {
    display: block;
    line-height: 0;
    height: auto;
}

.footer__socials img {
    display: block;
    height: 29px;
    width: auto;
}

.footer__privacy {
    margin-top: 180px;
    padding-bottom: 30px;
}
@media (max-width: 1099px) {
    .footer__privacy {
        padding-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }
}

.footer__privacy-text {
    margin-top: 20px;
}

@media (max-width: 576px) {
    .footer__privacy-text p {
        font-size: 12px;
    }
}
.footer__privacy-list {
    display: flex;
    margin: 0 -15px;
}
@media (max-width: 1099px) {
    .footer__privacy-list {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .footer__privacy-list a {
        font-size: 12px;
    }
}

.footer__privacy-list li {
    padding: 0 15px;
    position: relative;
}

.footer__privacy-list li:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
    background: #514B46;
}


.footer__col--1 {
    flex: 1 0 34%;
}

.footer__col--2 {
    flex: 1 0 15%;
}

.footer__col--3 {
    flex: 1 0 34%;
}

@media (max-width: 1099px) {
    .footer__col--1, .footer__col--2, .footer__col--3 {
        flex: 0 0 auto;
    }
}

@media (max-width: 576px) {
    .footer__col--1, .footer__col--2, .footer__col--3 {
        flex: 1 0 auto;
        max-width: 100%;
    }
}