.product-custom {
    
}

.product-custom__image {
    flex: 1 1 100%;
    display: block;
    width: 100%;
    height: auto;
}

.product-custom__content {
    flex: 1 0 506px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
}

.product-custom__container {
    display: flex;
    align-items: center;
}

.product-custom__title {
    font-size: 32px;
    color: #514B46;
}


.product-custom__price {
    font-size: 32px;
    line-height: 160%;
    margin-top: 20px;
}

.product-custom__text {

}

.product-custom__description {
    margin-top: 20px;
}

.product-custom__quantity {
    width: 170px;
    height: 58px;
    border-radius: 5px;
    border: 1px solid rgba(81, 75, 70, 0.10);
}

.product-custom__button {
    margin-top: 35px;
    width: 100%;
    background: #514B46;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-custom__cols {
    margin-top: auto;
    gap: 20px;
}