.cta2__inner {
    padding: 56px;
    display: flex;
    align-items: center;
    position: relative;
}


@media (max-width: 1099px) {
    .cta2__inner {
        padding: 40px;
    }   
}

@media (max-width: 992px) {
    .cta2__inner {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .cta2__inner {
        padding: 30px;
    }   
}

@media (max-width: 576px) {
    .cta2__inner {
        padding: 15px;
    }   
}




.cta2__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.cta2__content {
    flex: 1 1 100%;
    padding-right: 40px;
    position: relative;
    z-index: 3;
}
@media (max-width: 992px) {
    .cta2__content {
        padding-right: 0;
        text-align: center;
    }
}

.cta2__title {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

@media (max-width: 1099px) {
    .cta2__title {
        font-size: 20px;
    }
}

.cta2__text {
    font-size: 32px;
    font-weight: 400;
    max-width: 623px;
    margin-top: 20px;
    color: #fff;
}

.cta2__btn {
    flex: 0 0 auto;
    min-width: 308px;
    position: relative;
    z-index: 3;
}

@media (max-width: 1099px) {
    .cta2__btn {
        min-width: unset;
    }
}