.product-custom {
    
}

.product-custom__image {
    flex: 1 1 100%;
    display: block;
    width: 100%;
    height: auto;
}

.product-custom__content {
    flex: 1 0 506px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
}

.product-custom__container {
    display: flex;
}

.product-custom__title {
    font-size: 32px;
    color: #514B46;
}


.product-custom__price {
    font-size: 32px;
    line-height: 160%;
    margin-top: 20px;
}

.product-custom__text {

}

.product-custom__description {
    margin-top: 20px;
}

.product-custom__quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    padding: 0 15.5px;
    height: 58px;
    border-radius: 5px;
    border: 1px solid rgba(81, 75, 70, 0.10);
}

.product-custom__quantity input {
    background: transparent;
    padding: 0;
    color: #514B46;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 3px;
    border: none;
    outline: none;
    
}

.product-custom__quantity input::-webkit-outer-spin-button,
.product-custom__quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-custom__quantity input[type=number] {
  -moz-appearance: textfield;
}

.product-custom__quantity-button {
    display: block;
    background: transparent;
    border: none;
    width: 12px;
    height: 12px;
}

.product-custom__quantity-button#quantity-decrease {
    margin-bottom: 6px;
}

.product-custom__button {
    width: 100%;
    background: #514B46;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-weight: 400;
}

.product-custom__cols {
    margin-top: auto;
    gap: 20px;
    display: flex;
}