

.cta {
    padding-top: 120px;
}

.cta__title {
    color: #fff;
    font-size: 32px;
}

.cta__inner {
    background: #216F6D;
    padding: 86px 80px;
    position: relative;
}

.cta__content {
    max-width: 408px;
}

.cta__btn {
    margin-top: 40px;
}